$mainColor: #1351af;
$width: 60%;

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: $mainColor;
  padding: 16px 0;
  .brand {
    width: $width;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }
}

.main {
  width: $width;
  margin: 32px auto;
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #eee;
}

.input {
  margin-bottom: 8px;
  display: inline-block;
  input, label {
    font-size: inherit;
    display: block;
  }
}

.container {
  padding: 16px;
  border: 1px solid #ccc;
  background: #eee;
  &+.container {
    margin-top: 32px;
  }
}

button {
  padding: 4px 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: default;
  display: inline-block;
  font-size: inherit;
  &:hover {
    background-color: #ccc;
  }
  &.danger {
    background-color: #ff3a3d;
    color: white;
    border: 1px solid red;
    &:hover {
      background-color: #b8282a;
    }
  }
}

section {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &>* {
    display: inline-block;
  }
}

ul {
  margin: 0;
  li {
    cursor: pointer;
    &:hover {
      color: blue;
      font-weight: bold;
    }
  }
}

#item-amt {
  width: 55px;
  text-align: center;
}

button:not([disabled]):hover {
  cursor: pointer;
  background-color: salmon;
  color: white;
}

.highlight {
  font-weight: bold;
}